reviews.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="reviews">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="review" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="deviceInfo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="platform"/>
                    <xs:element type="xs:string" name="device" minOccurs="0"/>
                    <xs:element type="xs:string" name="osVersion" minOccurs="0"/>
                    <xs:element type="xs:string" name="isoCode" minOccurs="0"/>
                    <xs:element name="deviceMetadata" minOccurs="0">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element type="xs:string" name="productName" minOccurs="0"/>
                          <xs:element type="xs:string" name="manufacturer" minOccurs="0"/>
                          <xs:element type="xs:string" name="deviceClass" minOccurs="0"/>
                          <xs:element type="xs:short" name="screenWidthPx" minOccurs="0"/>
                          <xs:element type="xs:short" name="screenHeightPx" minOccurs="0"/>
                          <xs:element type="xs:string" name="nativePlatform" minOccurs="0"/>
                          <xs:element type="xs:short" name="screenDensityDpi" minOccurs="0"/>
                          <xs:element type="xs:int" name="glEsVersion" minOccurs="0"/>
                          <xs:element type="xs:string" name="cpuModel" minOccurs="0"/>
                          <xs:element type="xs:string" name="cpuMake" minOccurs="0"/>
                          <xs:element type="xs:short" name="ramMb" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="countryCode" minOccurs="0"/>
                    <xs:element type="xs:string" name="country" minOccurs="0"/>
                    <xs:element type="xs:string" name="language" minOccurs="0"/>
                    <xs:element type="xs:string" name="languageCode" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="appInfo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="id"/>
                    <xs:element type="xs:string" name="version" minOccurs="0"/>
                    <xs:element type="xs:string" name="versionCode" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="reviewInfo">
                <xs:complexType>
                  <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element type="xs:string" name="id"/>
                    <xs:element type="xs:string" name="title"/>
                    <xs:element type="xs:string" name="text"/>
                    <xs:element type="xs:string" name="author"/>
                    <xs:element type="xs:byte" name="rating"/>
                    <xs:element type="xs:dateTime" name="dateTime"/>
                    <xs:element type="xs:string" name="hasTime"/>
                    <xs:element type="xs:string" name="developerComment"  minOccurs="0"/>
                    <xs:element type="xs:dateTime" name="developerCommentDateTime"  minOccurs="0"/>
                    <xs:element type="xs:string" name="source"/>
                  </xs:choice>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
